package $options["java.package"];

import javax.persistence.Column;
import java.time.*;
import java.util.*;

#if ($propertySet.description)
/**
 * ${propertySet.description}
 */
#end
@Entity(name = "${propertySet.name}") 
public class ${propertySet.className} {

#foreach( $p in $propertySet.properties)
   #if ($p.description)
   /**
    * ${p.description}
    */
   #end
#if( !${p.cardinalityType} )
   @Column(name = "$p.name")
   private $p.javaType $p.fieldName;
#elseif( ${p.cardinalityType} == "LIST" )
   @OneToMany(mappedBy = "${p.javaType}", cascade = CascadeType.ALL)
   private List<$p.javaType> $p.fieldName = new ArrayList<>();
#elseif( ${p.cardinalityType} == "SET" )
   @OneToMany(mappedBy = "${p.javaType}", cascade = CascadeType.ALL)
   private Set<$p.javaType> $p.fieldName = new HashSet<>();
#end

#end

#if (${propertySet.references})
   // --- References ---
#end
#foreach( $p in $propertySet.references )    
   @ManyToOne
   @JoinColumn(name = "${p.name}_id", nullable = false)
   private ${p.javaType} ${p.fieldName};
#end

#if (${propertySet.relationships})
   // --- Adders ---
#end
#foreach( $p in $propertySet.relationships )    
   public void add${p.javaType}(${p.javaType} ${p.name}) {
      ${p.name}.set${propertySet.className}(this);
      this.${p.name}.add(${p.name});
   }
#end

   // --- Getters ---
#foreach( $p in $propertySet.properties )    
#if( !${p.cardinalityType} )
   public $p.javaType get${p.className}() {
#elseif( ${p.cardinalityType} == "LIST" )
   public List<$p.javaType> get${p.className}() {
#elseif( ${p.cardinalityType} == "SET" )
   public Set<$p.javaType> get${p.className}() {
#end
      return this.${p.fieldName};
   }

#end
   // --- Setters ---
#foreach( $p in $propertySet.properties)    
#if( !${p.cardinalityType} )
   public void set${p.className}(${p.javaType} ${p.fieldName}) {
#elseif( ${p.cardinalityType} == "LIST" )
   public void set${p.className}(List<${p.javaType}> ${p.fieldName}) {
#elseif( ${p.cardinalityType} == "SET" )
   public void set${p.className}(Set<${p.javaType}> ${p.fieldName}) {
#end
      this.${p.fieldName} = ${p.fieldName};
   }

#end
}
    