package $options["java.package"];

#if ($propertySet.description)
/**
 * ${propertySet.description}
 */
#end
public class $converter.getObject($propertySet.name) {

#foreach( $p in $propertySet.properties)
   #if ($p.description)
   /**
    * ${p.description}
    */
   #end
   @Column(name = "$p.name")
   private $p.type $p.name;

#end

#foreach( $p in $propertySet.properties)    
   #set($name = $converter.getObject($p.name))
   public $p.type get${name}() {
      return this.${p.name};
   }

#end

#foreach( $p in $propertySet.properties)    
   #set($name = $converter.getObject($p.name))
   public void set${name}(${p.type} ${p.name}) {
      this.${p.name} = ${p.name};
   }

#end
}
    