package $options["java.package"];

import javax.persistence.Column;
import java.time.*;

#if ($propertySet.description)
/**
 * ${propertySet.description}
 */
#end
public class $propertySet.className {

#foreach( $p in $propertySet.properties)
   #if ($p.description)
   /**
    * ${p.description}
    */
   #end
   @Column(name = "$p.name")
   private $p.javaType $p.fieldName;

#end
// --- Getters ---
#foreach( $p in $propertySet.properties)    
   public $p.javaType get${p.className}() {
      return this.${p.fieldName};
   }

#end
// --- Setters ---
#foreach( $p in $propertySet.properties)    
   public void set${p.className}(${p.javaType} ${p.fieldName}) {
      this.${p.fieldName} = ${p.fieldName};
   }

#end
}
    