#set( $idtype = $options["sql.id.type"] )

#foreach( $ps in $metadata.propertySets )

create table $ps.name (
   id $idtype not null primary key,
#foreach( $p in $ps.properties)
   $p.name $p.type#if( $foreach.hasNext ), #end 

#end
);

#if ( $ps.description )
comment on table $ps.name is '$ps.description';
#end
#foreach( $p in $ps.properties)
#if ( $p.description )
#set( $name = "${ps.name}.${p.name}" ) 
comment on table ${name} is '${p.description}';
#end
#end

#end
