#foreach( $ps in $metadata.propertySets )

create table $ps.name (
#foreach( $p in $ps.properties)
    $p.name $p.type,
#end
);

#if ( $ps.description )
comment on table $ps.name is '$ps.description';
#end
#foreach( $p in $ps.properties)
#if ( $p.description )
#set( $name = "${ps.name}.${p.name}" ) 
comment on table ${name} is '${p.description}';
#end
#end

#end
